html{background-image: url(/image/f37256b61802fb2c715a383c84a011a4.jpg);}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Share Tech Mono', monospace; 
    font-size: 20px;
    color: #dcd0f3;
    }
    .enlace {
        
        font-size: 25px;
        display:inline-block     ;
        color: #dcd0f3;;
        padding:0;
        margin:0;
        text-align:center;
        box-sizing:border-box ;
        text-decoration:none ;
        background-color: rgb(0, 0, 0);
        
        
        
        }
    footer{
        background-color: rgb(19, 1, 83);
        color: #fff;
    }
    footer p {
        background-color: rgb(19, 1, 83);
        color: #fff;
    }
    nav div  {
        display:flex;
        justify-content:space-around;
        background-image: url(/image/f37256b61802fb2c715a383c84a011a4.jpg);

    }

.pines {
    display: flex;
    justify-content: center;
    background-image: url();
}
.personajes {
    display: flex;
    justify-content: center;}


